*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(108, 222, 237);
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:hover{
    background-color: rgb(246, 250, 246);
    padding: 15px;
}
 
 main
 }
 
 